<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>
<body>
		<div class="container">
		<input name="targetDt" id="targetDt" value="20220619">
		<button type="button" id="btnBoxOffice">검색</button>
		<div id="divBoxOffice"></div>
		
		<div id="divMovieInfo" style="display:none">
			<div class="row">
				<div class="col-2">런닝타임:</div>
				<div class="col-10 showTm">104</div>
			</div>
			<div class="row">
				<div class="col-2">개봉일:</div>
				<div class="col-10 openDt">20220615</div>
			</div>
			<div class="row">
				<div class="col-2">actors:</div>
				<div class="col-10"><div class="row actors">크리스 에반스,타이카 와이티티,피터 손</div></div>
			</div>
			<div class="row">
				<div class="col-2">directors:</div>
				<div class="col-10"><div class="row directors">앵거스 맥클레인</div></div>
			</div>
		</div>
	</div>
  
  <script>
  $(function(){
	  btnBoxOfficeHandler(); //박스오피스
  	  movieInfoHandler();    //영화상세정보
  })
  
 	function btnBoxOfficeHandler(){
 		$('#btnBoxOffice').on("click", function(){
 			//날짜 입력값 조회
 			let dt = $("#targetDt").val();
 			//날짜가 입력이 안 된 경우 
 		
 		var url = 'http://kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json?key=f5eef3421c602c6cb7ea224104795888&targetDt='+dt;
 		
 			$.ajax({
 			url : url,
 		method : 'get',
 		dataType : 'json',
 		success : boxOfficeCallback
 			
 		})
 	});
 	}
 	function boxOfficeCallback(result){
 		let list = result.boxOfficeResult.dailyBoxOfficeList
 		$("#divBoxOffice").empty();
 		for(mv of list) {
 			$("<div>").addClass("movie row")
 					  .attr("data-moviecd", mv.movieCd)
 					  .append($("<div>").html(mv.rank).addClass("col-2"))
 					  .append($("<div>").html(mv.movieNm).addClass("col-10"))
 					  .appendTo("#divBoxOffice")
 		}
 	}
 	function movieInfoHandler(result){
 		$("#divBoxOffice").on("click", ".movie", function(){
 			let moviecd = $(this).data("moviecd");
 			var url = 'http://www.kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieInfo.json?key=f5eef3421c602c6cb7ea224104795888&movieCd='+moviecd;
 			$.ajax({
 				url : url,
 				method : 'get',
 				dataType : 'json'
 			}).done(function(result){
 				
	 			$("#divMovieInfo").show();
	 			let info = result.movieInfoResult.movieInfo;
	 			
	 			let actors = ''
	 			for(actor of info.actors) {
	 				actors += `<div class="col-3">${actor.peopleNm}</div>`;
	 			}
	 			let directors = ''
	 	 	    info.directors.forEach((ele, index) => {
	 	 			directors += `<div class="col-3">${ele.peopleNm}</div>`;
	 	 	    })
	 			$(".showTm").html(info.showtm);
	 			$(".openDt").html(info.openDt);
	 			$(".actors").html(actors);
	 			$(".directors").html(directors);
	 		})
 		})
 		
 	}
</script>
</body>
</html>